<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>预约列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="__ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="__ADMIN__/css/font.css">
    <link rel="stylesheet" href="__ADMIN__/css/xadmin.css">
    <script type="text/javascript" src="__ADMIN__/js/xadmin.js"></script>
</head>
<body>
<table id="test" lay-filter="test" lay-data="{id: 'test'}"></table>
<script type="text/html" id="buttonTpl">
    {{#  if(d.status == 1){}}
    <button class="layui-btn  layui-btn-xs">进行中</button>
    {{#  } else { }}
    <button class="layui-btn layui-btn-normal">已完成</button>
    {{#  } }}
</script>
<!--//头部工具栏-->
<script type="text/html" id="toolbarDemo">
    <div>
        <div class="demoTable">
            <div class="layui-form">
                搜索类型
                <div class="layui-input-inline">
                    <select id="check" name="check" class="layui-select" required lay-verify="required"
                            lay-filter="selectTemplate" lay-search width="80px">
                        <option value=""></option>
                        <option value="1">ID</option>
                        <option value="2">学生姓名</option>
                        <option value="3">教师姓名</option>
                        <option value="4">时间搜索</option>
                    </select>
                </div>
                <div class="layui-input-inline layui-show-xs-block">
                    <input class="layui-input" placeholder="开始时间" name="start" id="start"></div>
                <div class="layui-input-inline layui-show-xs-block">
                    <input class="layui-input" placeholder="截止时间" name="end" id="end"></div>
                搜索内容：
                <div class="layui-inline">
                    <input class="layui-input" name="value" id="inputval" autocomplete="off" required
                           lay-verify="required">
                </div>
                <button type="button" class="layui-btn" data-type="reload">搜索</button>
            </div>
        </div>
    </div>

    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="refresh">刷新表格</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="dels">删除选中行</button>
    </div>
</script>
<!--//操作栏-->
<script type="text/html" id="barDemo">
    <a style=" text-decoration: none"><i class="layui-icon layui-icon-edit toolbars" lay-event="edit" title="编辑"></i>
    </a>
    <a style=" text-decoration: none"><i class="layui-icon layui-icon-delete" lay-event="del" title="删除"></i> </a>
</script>
<!--    编辑弹出层-->
<script type="text/html" id="edit_form">
    <div class="layui-row">
        <div class="layui-form">
            <div class="text" style="width: 1000px;height: 100%;margin: auto;padding-top: 20px;">
                <div class="layui-form-item" style="width: 45%;float: left;clear: none;margin-bottom: 30px;">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>预约号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="id" name="id" required lay-verify="required"
                               autocomplete="off"
                               class="layui-input"></div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>将会成为预约唯一标识
                    </div>
                </div>


                <div class="layui-form-item" style="width: 45%;float: left;clear: none;margin-bottom: 30px;">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>学生姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" id="sname" name="sname" required lay-verify="required"
                               autocomplete="off"
                               class="layui-input"></div>
                </div>


                <div class="layui-form-item" style="width: 45%;float: left;clear: none;margin-bottom: 30px;">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>学生学号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="sid" name="sid" required lay-verify="required"
                               autocomplete="off"
                               class="layui-input"></div>
                </div>

                <div class="layui-form-item" style="width: 45%;float: left;clear: none;margin-bottom: 30px;">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>学生年龄</label>
                    <div class="layui-input-inline">
                        <input type="text" id="age" name="age" required lay-verify="required|agecheck"
                               autocomplete="off"
                               class="layui-input"></div>
                </div>

                <div class="layui-form-item" style="width: 45%;float: left;clear: none;margin-bottom: 30px;">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>学生性别</label>
                    <div class="layui-input-inline">
                        <select id="sex" name="sex" lay-verify="required" autocomplete="off" class="layui-input">
                            <option value=""></option>
                            {volist name="sexlist" id="vo"}
                            <option value="{$vo.sex}">{$vo.sex}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item" style="width: 45%;float: left;clear: none;margin-bottom: 30px;">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>学院</label>
                    <div class="layui-input-inline">
                        <select id="depart" name="depart" lay-verify="required" autocomplete="off" class="layui-input">
                            <option value=""></option>
                            {volist name="departlist" id="vo"}
                            <option value="{$vo.depart}">{$vo.depart}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item" style="width: 45%;float: left;clear: none;margin-bottom: 30px;">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>年级</label>
                    <div class="layui-input-inline">
                        <select id="slevel" name="slevel" lay-verify="required" autocomplete="off" class="layui-input">
                            <option value=""></option>
                            {volist name="slevellist" id="vo"}
                            <option value="{$vo.slevel}">{$vo.slevel}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item" style="width: 45%;float: left;clear: none;margin-bottom: 30px;">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>民族</label>
                    <div class="layui-input-inline">
                        <input type="text" id="nation" name="nation" required="" lay-verify="required"
                               autocomplete="off" class="layui-input"></div>
                </div>


                <div class="layui-form-item" style="width: 45%;float: left;clear: none;margin-bottom: 30px;">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>手机</label>
                    <div class="layui-input-inline">
                        <input type="text" id="phone" name="phone" required lay-verify="required|phone"
                               autocomplete="off"
                               class="layui-input"></div>
                </div>


                <div class="layui-form-item" style="width: 45%;float: left;clear: none;margin-bottom: 30px;">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>预约时间</label>
                    <div class="layui-input-inline">
                        <input type=type="text" id="time" name="time" required autocomplete="off"
                               class="layui-input"></div>
                    <div class="layui-form-mid layui-word-aux">
                    </div>
                </div>


                <div class="layui-form-item" style="width: 45%;float: left;clear: none;margin-bottom: 30px;">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>预约地址</label>
                    <div class="layui-input-inline">
                        <select id="address" name="address" lay-verify="required" autocomplete="off"
                                class="layui-input">
                            <option value=""></option>
                            {volist name="roomnumlist" id="vo"}
                            <option value="{$vo.roomnum}">{$vo.roomnum}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item" style="width: 45%;float: left;clear: none;margin-bottom: 30px;">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>教师姓名</label>
                    <div class="layui-input-inline">
                        <select id="ename" name="ename" lay-verify="required" autocomplete="off" class="layui-input">
                            <option value=""></option>
                            {volist name="enamelist" id="vo"}
                            <option value="{$vo.name}">{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>


                <hr class="hr10">
                <div class="layui-form-item" style="width: 45%;float: left;clear: none;margin-bottom: 30px;">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>问题描述</label>
                    <div class="layui-input-inline">
                <textarea rows="10" cols="30" class="tarea" id="problem" name="problem" required lay-verify="required"
                          autocomplete="off" style="width: 640px; height: 100px;margin: 0;"></textarea>
                    </div>
                    <hr class="hr10">
                    <div class="layui-form-item" style="width: 45%;float: left;clear: none;margin-bottom: 30px;">
                        <label class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="update" lay-submit="update">修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
</body>
<script>
    var editid;
    var uneditid;

    function initdate() {
        //初始化日期控件 以及日期选择限制问题
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            var endDate = laydate.render({
                elem: '#end',//选择器结束时间
                type: 'datetime',
                min: "1970-1-1",//设置min默认最小值
                done: function (value, date) {
                    startDate.config.max = {
                        year: date.year,
                        month: date.month - 1,//关键
                        date: date.date,
                        hours: 0,
                        minutes: 0,
                        seconds: 0
                    }
                }
            });

            //日期范围
            var startDate = laydate.render({
                elem: '#start',
                type: 'datetime',
                max: "2099-12-31",//设置一个默认最大值
                done: function (value, date) {
                    endDate.config.min = {
                        year: date.year,
                        month: date.month - 1, //关键
                        date: date.date,
                        hours: 0,
                        minutes: 0,
                        seconds: 0
                    };
                }
            });

        });
    }


    // form.verify({
    //     agecheck: [/(^[1][0-2][0-5]$)|(^[1-9][0-9]$)|(^100&)|(^[1-9]$)$/, '只能输入1到125之间任意数字'],
    // });

    layui.use(['form', 'layer', 'jquery', 'table'], function () {
        var table = layui.table;
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //修改监听
        form.on('submit(update)', function (data) {
            var id = data.field.id;
            var sname = data.field.sname;
            var sid = data.field.sid;
            var age = data.field.age;
            var sex = data.field.sex;
            var depart = data.field.depart;
            var slevel = data.field.slevel;
            var nation = data.field.nation;
            var phone = data.field.phone;
            var time = data.field.time;
            var address = data.field.address;
            var ename = data.field.ename;
            var problem = data.field.problem;
            console.log(data.field);
            editid = id;
            if (editid == uneditid) {
                $.ajax({
                    type: "post",
                    url: "../Admin/orderupdate",
                    dataType: "json",
                    data: {
                        "id": id,
                        "sname": sname,
                        "sid": sid,
                        "age": age,
                        "sex": sex,
                        "depart": depart,
                        "slevel": slevel,
                        "nation": nation,
                        "phone": phone,
                        "time": time,
                        "address": address,
                        "ename": ename,
                        "problem": problem
                    },
                    async: false,//必须是同步提交的
                    success: function (data) {
                        console.log(data);
                        layer.alert('修改成功', {icon: 6}, function (index) {
                            layer.closeAll();
                            table.reload('searchreload');
                        });
                    },
                });
            } else {
                $.ajax({
                    type: "post",
                    url: "{:url('Admin/orderdel')}",
                    dataType: "json",
                    data: {"id": uneditid},
                    async: false,
                    success: function (data) {
                        $.ajax({
                            url: "../Admin/orderidcheck",
                            type: 'POST',
                            dataType: "json",
                            data: {"id": editid},
                            async: false,//必须是同步提交的
                            success: function (res) {
                                // console.log(res.data);
                                if (res.data == 1) {
                                    layer.msg('ID已存在，请修改ID！', {icon: 5});
                                } else if (res.data == 0) {
                                    $.ajax({
                                        url: "../Admin/orderinsert",
                                        type: "post",
                                        dataType: "json",
                                        data: {
                                            "id": id,
                                            "sname": sname,
                                            "sid": sid,
                                            "age": age,
                                            "sex": sex,
                                            "depart": depart,
                                            "slevel": slevel,
                                            "nation": nation,
                                            "phone": phone,
                                            "time": time,
                                            "address": address,
                                            "ename": ename,
                                            "problem": problem
                                        },
                                        async: false,//必须是同步提交的
                                        success: function (t) {
                                            console.log(t);
                                            layer.alert('修改成功', {icon: 6}, function (index) {
                                                layer.closeAll();
                                                table.reload('searchreload');

                                            });
                                        },
                                    });

                                }
                            },
                        });
                    }
                });
            }

        });
    });


    layui.use('table', function () {
        var table = layui.table;
        table.render({
            even: false //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , minheight: "800px"
            , elem: '#test'
            , page: true
            , id: 'searchreload'
            , limit: 15
            , height: 650
            , url: "{:url('Admin/orderjson')}"
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": 0, //解析接口状态
                    "msg": "刷新页面试试", //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.data,//解析数据列表
                };

            },
            cols: [[
                {field: 'id', type: 'checkbox', width: 50, fixed: 'left'}
                , {field: 'id', title: '预约号', width: 90, sort: true}
                , {field: 'sname', title: '学生姓名', width: 80}
                , {field: 'sid', title: '学生学号', width: 100}
                , {field: 'age', title: '学生年龄', width: 80}
                , {field: 'sex', title: '学生性别', width: 80}
                , {field: 'depart', title: '学院', width: 120}
                , {field: 'slevel', title: '年级', width: 80}
                , {field: 'nation', title: '民族', width: 80}
                , {field: 'phone', title: '手机', width: 120}
                , {field: 'status', title: '预约状态', width: 100, toolbar: '#buttonTpl'}
                , {field: 'time', title: '预约时间', width: 150, sort: true}
                , {field: 'address', title: '预约地址', width: 150}
                , {field: 'ename', title: '教师姓名', width: 80}
                , {field: 'problem', title: '问题描述', width: 150}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 120}
            ]],
            done: function (res) {
                initdate();

            }

        });

        //查询表格重载

        $('.demoTable .layui-btn').on('click', function () {
            console.log(document.getElementById("check").value);
            table.reload('searchreload', {
                where: { //设定异步数据接口的额外参数，任意设
                    type: document.getElementById("check").value,
                    value: $("#inputval").val(),
                    start: $("#start").val(),
                    end: $("#end").val()
                },
                page: {
                    curr: 1
                }
            });
        });


        //监听头部工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                //批量删除
                case 'dels':
                    var data = checkStatus.data;
                    var ids = [];
                    data.forEach(function (item) {
                        ids.push(item.id);
                    });
                    // console.log(ids);
                    if (data.length == '') {
                        layer.msg("未选择数据");
                    } else {
                        layer.confirm('真的删除选中数据吗', function (index) {
                            layer.close(index);
                            $.ajax({
                                type: "post",
                                url: "{:url('Admin/orderdels')}",
                                dataType: "json",
                                data: {"ids": ids},
                                async: false,
                                success: function (data) {
                                    layer.msg("删除成功");
                                    table.reload('searchreload');
                                }
                            });
                            layer.msg("删除成功");
                            table.reload('searchreload');
                        })
                    }
                    break;
                case 'refresh':
                    location.reload();
                    //able.reload('searchreload');  正确 搜索存在问题 导致无法刷新
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "post",
                        url: "{:url('Admin/orderdel')}",
                        dataType: "json",
                        data: {"id": data.id},
                        async: false,
                        success: function (data) {
                            layer.msg("删除成功");
                            table.reload('searchreload');
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                var id = data.id;
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.open({
                        type: 1,
                        title: "预约修改",
                        shade: false,
                        area: ['1100px', '550px'],
                        content: $('#edit_form').html(),
                        success: function (layero, index) {
                            uneditid = id;
                            $.ajax({
                                type: "post",
                                url: "{:url('Admin/geteditorder')}",
                                dataType: "json",
                                data: {"id": data.id},
                                async: false,
                                success: function (data) {
                                    //选择时间控件
                                    layui.use(['laydate'], function () {
                                        var laydate = layui.laydate;
                                        laydate.render({     //创建时间选择框
                                            elem: '#time' //指定元素
                                            , type: 'datetime', //日期格式
                                        });
                                    });
                                    table.reload('searchreload');
                                    $(" input[name='id']").val(data.list4.id);
                                    $(" input[name='sname']").val(data.list4.sname);
                                    $(" input[name='sid']").val(data.list4.sid);
                                    $(" input[name='time']").val(data.list4.time);

                                    var selectsexval;
                                    var selectdepartval;
                                    var selectslevelval;
                                    var selectenameval;
                                    var selecteroomnumval;
                                    var selectsex = document.getElementById("sex");
                                    var selectdepart = document.getElementById("depart");
                                    var selectslevel = document.getElementById("slevel");
                                    var selectename = document.getElementById("ename");
                                    var selectroomnum = document.getElementById("address");

                                    for (var i = 0; i < selectsex.options.length; i++) {
                                        if (selectsex.options[i].value == data.list4.sex) {
                                            selectsexval = selectsex.options[i].value;
                                            selectsex.options[i].selected = true;
                                            $("input[name='sex']").val(selectsex.options[i].value);
                                        }
                                    }
                                    for (var i = 0; i < selectdepart.options.length; i++) {
                                        if (selectdepart.options[i].value == data.list4.depart) {
                                            selectdepartval = selectdepart.options[i].value;
                                            selectdepart.options[i].selected = true;
                                            $("input[name='depart']").val(selectdepart.options[i].value);
                                        }
                                    }
                                    for (var i = 0; i < selectslevel.options.length; i++) {
                                        if (selectslevel.options[i].value == data.list4.slevel) {
                                            selectslevelval = selectslevel.options[i].value;
                                            selectslevel.options[i].selected = true;
                                            $("input[name='slevel']").val(selectslevel.options[i].value);
                                        }
                                    }

                                    for (var i = 0; i < selectename.options.length; i++) {
                                        if (selectename.options[i].value == data.list4.ename) {
                                            selectenameval = selectename.options[i].value;
                                            selectename.options[i].selected = true;
                                            $("input[name='ename']").val(selectename.options[i].value);
                                        }
                                    }

                                    for (var i = 0; i < selectroomnum.options.length; i++) {
                                        if (selectroomnum.options[i].value == data.list4.address) {
                                            selecteroomnumval = selectroomnum.options[i].value;
                                            selectroomnum.options[i].selected = true;
                                            $("input[name='address']").val(selectroomnum.options[i].value);
                                        }
                                    }

                                    //下拉框必须先赋值在 选中 再渲染
                                    $(layero).find('select[name=sex]').val(selectsexval);
                                    $(layero).find('select[name=depart]').val(selectdepartval);
                                    $(layero).find('select[name=slevel]').val(selectslevelval);
                                    $(layero).find('select[name=ename]').val(selectenameval);
                                    $(layero).find('select[name=address]').val(selecteroomnumval);

                                    $(" input[name='age']").val(data.list4.age);
                                    $(" input[name='phone']").val(data.list4.phone);
                                    $(" input[name='nation']").val(data.list4.nation);
                                    $(" textarea[name='problem']").val(data.list4.problem);

                                }
                            });
                            layui.form.render('select');
                        }
                    });
                })
            }
        })
    });
</script>
</html>